<h1>Dashboard</h1>

<h3>Welcome to your Dashboard <%= currentUser.name %>! This is where you can manage all of the stocks you have chosen to track.</h3>
<% console.log(currentUser) %>


<%getStocks.forEach(stock => { %>
    <div>
        <a href="/dashboard/<%= stock.name %><%= stock.symbol %>"></a>
    </div>


<form method="POST" action="/dashboard/<%= stock.name %><%= stock.symbol %>?_method=DELETE">
    <input hidden type="text" name="name" value="<%= stock.name %>">
    <input hidden type="text" name="symbol" value="<%= stock.symbol %>">
    <button type="submit">Delete from Tracker</button>
</form>
<% }) %>
